/image @agoncharova-indriver
/TOC.yaml @agoncharova-indriver
/docs/ @agoncharova-indriver
/docs/about-handbook/ @agoncharova-indriver
/docs/communication/ @agoncharova-indriver
/docs/company/ @agoncharova-indriver
/docs/documentation-culture/ @agoncharova-indriver
/docs/people/crafters/ @IgorNovoseltsev
/docs/people/hiring/ @agoncharova-indriver
/docs/people/activity-map.md @lookforward-github @agoncharova-indriver
/docs/people/people-management.md @agoncharova-indriver
/docs/people/team-types.md @danyaw00f @agoncharova-indriver
/docs/people/onboarding @agoncharova-indriver
/docs/software-architecture/ @lisachenko-indriver @agoncharova-indriver
/docs/software-development/dev/guidelines/backend/ @bald2b @agoncharova-indriver @AlexeyAkulovich
/docs/software-development/dev/guidelines/backend/db-guideline.md @eeeeehhhhhhhhhh @lonely-lockley @agoncharova-indriver
/docs/software-development/dev/guidelines/qa.md @indbatyrov @agoncharova-indriver
/docs/software-development/dev/guidelines/rfc2119.md @lisachenko-indriver @agoncharova-indriver
/docs/software-development/dev/guidelines/security/ @Denis-Rybin @agoncharova-indriver
/docs/software-development/dev/guidelines/security-guideline.md @Denis-Rybin @Ivan1Vasilev @agoncharova-indriver
/docs/strategy-and-management/productivity-measurement-framework/ @IgorNovoseltsev @agoncharova-indriver
/docs/strategy-and-management/productivity-measurement-framework/tmm-metrics.md @dariabalbenova @agoncharova-indriver
/docs/strategy-and-management/team-maturity-model @agoncharova-indriver @dariabalbenova
/docs/strategy-and-management/acceptance-criteria.md @agoncharova-indriver
/docs/strategy-and-management/action-points.md @agoncharova-indriver
/docs/strategy-and-management/backlog-organization.md @danyaw00f @agoncharova-indriver
/docs/strategy-and-management/daily-sprint-workflow.md @danyaw00f @agoncharova-indriver
/docs/strategy-and-management/decomposition.md @danyaw00f @agoncharova-indriver
/docs/strategy-and-management/devex-metrics.md @dnsmrkv @agoncharova-indriver
/docs/strategy-and-management/discovery.md @agoncharova-indriver
/docs/strategy-and-management/discovery-sync.md @agoncharova-indriver
/docs/strategy-and-management/dor.md @agoncharova-indriver
/docs/strategy-and-management/inspire-overview.md @agoncharova-indriver @IgorNovoseltsev
/docs/strategy-and-management/engineering-workflow.md @danyaw00f @agoncharova-indriver
/docs/strategy-and-management/operations-planning.md @agoncharova-indriver
/docs/strategy-and-management/product-process.md @agoncharova-indriver
/docs/strategy-and-management/product-team-meetings.md @danyaw00f @agoncharova-indriver
/docs/strategy-and-management/program-management.md @GlebMakarovID @agoncharova-indriver
/docs/strategy-and-management/program-and-project-stages.md @GlebMakarovID @agoncharova-indriver
/docs/strategy-and-management/quarterly-planning.md @agoncharova-indriver @danyaw00f
/docs/strategy-and-management/retrospective @danyaw00f @agoncharova-indriver
/docs/strategy-and-management/system-review.md @agoncharova-indriver @danyaw00f
/docs/strategy-and-management/task-estimation.md @danyaw00f @agoncharova-indriver
/docs/strategy-and-management/tech-insight.md @agoncharova-indriver @danyaw00f
/docs/abbreviations-and-acronyms.md @agoncharova-indriver
/docs/glossary/ @agoncharova-indriver